temp/
data/
logs/
tests/
ext/templates
ext/OSS_DBS
!ext/templates/mni_icbm152_nlin_asym_09b
config_imagingTB.yaml
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
bildgebungBugra/
Documentation
/site

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so